<div class="sidebar">
    <a href="\FitForm/views/users/user_home.php">User Dashboard</a>
    <a href="\FitForm/views/users/add_progress.php">Add Progress</a>
    <a href="\FitForm/views/users/edit_objective_form.php">Edit Objective</a>
    <a href="\FitForm/views/users/edit_profile_form.php">Edit Profile</a>
    <a href="\FitForm/views/users/edit_user_form.php">Edit Account</a>
    <a href="#" id="delete-account-link">Delete Account</a>
    <a href="\FitForm/controllers/logout.php">Logout</a>
</div>

<script>
    document.querySelector('#delete-account-link').addEventListener('click', function(event) {
        
        event.preventDefault(); // Prevent the default action
        console.log("clicked");
        if (confirm('Are you sure you want to delete your account? This action cannot be undone.')) {
            window.location.href = '../../controllers/delete_user.php';
        }
    });
</script>